<div class="site-nav-wrap">
    <nav class="site-nav">
        <a class="site-brand" href="{{ site.baseurl }}/">
            <span class="site-brand-title">{{ site.title }}</span>
            <span class="site-brand-subtitle">{{ site.description }}</span>
        </a>
        <div class="site-nav-links">
            <a class="site-nav-link{% if page.url == '/' %} is-current{% endif %}" href="{{ site.baseurl }}/">Archive</a>
            <a class="site-nav-link{% if page.url == '/html/' %} is-current{% endif %}" href="{{ site.baseurl }}/html/">HTML Docs</a>
            <a class="site-nav-link{% if page.url == '/tags/' %} is-current{% endif %}" href="{{ site.baseurl }}/tags/">Topics</a>
            <a class="site-nav-link{% if page.url == '/about/' %} is-current{% endif %}" href="{{ site.baseurl }}/about/">About</a>
            <a class="site-nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
            <a class="site-nav-link" href="https://github.com/{{ site.github_username }}">GitHub</a>
        </div>
    </nav>
</div>
