<div class="site-nav-wrap">
    <nav class="site-nav">
        <a class="site-brand" href="{{ site.baseurl }}/">
            <span class="site-brand-title">{{ site.title }}</span>
            <span class="site-brand-subtitle">{{ site.description }}</span>
        </a>
        <div class="site-nav-links">
            <a class="site-nav-link{% if page.url == '/' %} is-current{% endif %}" href="{{ site.baseurl }}/">Home</a>
            <a class="site-nav-link{% if page.url == '/works/' or page.url == '/tags/' %} is-current{% endif %}" href="{{ site.baseurl }}/works/">Works</a>
            <a class="site-nav-link{% if page.url == '/about/' %} is-current{% endif %}" href="{{ site.baseurl }}/about/">About</a>
            <a class="site-nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
        </div>
    </nav>
</div>
